* {
    font-family: 'Roboto';
}

main {
    background-color: #FFF4E8;

}

.btn {
    background-color: #B3997F;
}

.btn:hover {
    background-color: #6DA0B3;
}

.btn-large {
    position: relative;
    top: 30vh;
    left: 42.5vw;
}

select {
    display: block !important;
}

@media screen and (max-width: 500px) {
    .btn-large {
        position: relative;
        top: 30vh;
        left: 33vw;
    }
}

nav {
    background-color: #CFF2FF !important;

}

.nav-wrapper a {
    color: #3D4849;
}

p {
    color: #3D4849;
}

.main-content {
    padding-bottom: 5vh;
}

.cardcontent {
    margin-bottom: 5vh;
}

footer {
    background-color: #CFF2FF;
}